<?xml version="1.0" encoding="utf-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">  
  <mirrors> 
    <mirror> 
      <id>nexus-tencentyun</id>  
      <mirrorOf>central</mirrorOf>  
      <name>Nexus tencentyun</name>  
      <url>https://mirrors.tencent.com/nexus/repository/maven-public/</url> 
    </mirror> 
  </mirrors>  
  <profiles> 
    <profile> 
      <id>tencent_external</id>  
      <repositories> 
        <repository> 
          <id>tencent_external</id>  
          <url>https://mirrors.tencent.com/nexus/repository/maven-public/</url>  
          <releases> 
            <enabled>true</enabled> 
			<updatePolicy>always</updatePolicy>
          </releases>  
          <snapshots> 
            <enabled>false</enabled> 
			<updatePolicy>always</updatePolicy>
          </snapshots> 
        </repository> 
      </repositories>  
      <pluginRepositories> 
        <pluginRepository> 
          <id>tencent_external</id>  
          <url>https://mirrors.tencent.com/nexus/repository/maven-public/</url>  
          <releases> 
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>			
          </releases>  
          <snapshots> 
            <enabled>false</enabled> 
          </snapshots> 
        </pluginRepository> 
      </pluginRepositories> 
    </profile>  
    <profile> 
      <id>tencent_internal</id>  
      <repositories> 
        <repository> 
          <id>tencent_internal</id>  
          <url>https://mirrors.tencent.com/repository/maven/tencent_public/</url>  
          <releases> 
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>			
          </releases>  
          <snapshots> 
            <enabled>false</enabled> 
			<updatePolicy>always</updatePolicy>
          </snapshots> 
        </repository> 
      </repositories>  
      <pluginRepositories> 
        <pluginRepository> 
          <id>tencent_internal</id>  
          <url>https://mirrors.tencent.com/repository/maven/tencent_public/</url>  
          <releases> 
            <enabled>true</enabled> 
          </releases>  
          <snapshots> 
            <enabled>false</enabled> 
          </snapshots> 
        </pluginRepository> 
      </pluginRepositories> 
    </profile> 
  </profiles>  
  <activeProfiles> 
    <activeProfile>tencent_external</activeProfile> 
    <activeProfile>tencent_internal</activeProfile>  
  </activeProfiles> 
</settings>
